{% extends "doctor/base.html" %}

{% block content %}

<h2>My Patients</h2>

<form method="GET">

    <input
        type="text"
        name="search"
        placeholder="Search Patient"
        value="{{ search }}"
    >

    <button type="submit">
        Search
    </button>

</form>

<br>

<table border="1" cellpadding="8">

<tr>

<th>Patient ID</th>
<th>Name</th>
<th>Department</th>
<th>Visit Date</th>
<th>Action</th>

</tr>

{% for record in records %}

<tr>

<td>{{ record.patient.patient_id }}</td>

<td>

{{ record.patient.first_name }}
{{ record.patient.last_name }}

</td>

<td>{{ record.department }}</td>

<td>{{ record.visit_date }}</td>

<td>

<a href="{% url 'edit_medical_record' record.id %}">
Edit
</a>

</td>

</tr>

{% empty %}

<tr>

<td colspan="5">

No Patients Found

</td>

</tr>

{% endfor %}

</table>

{% endblock %}